%div.btn-group.pull-right
  - if params[:type] == "hitters"
    = link_to "All", players_path(type: "hitters"), class: "btn"
    = link_to "C", players_path(type: "hitters", pos: "C"), class: "btn"
    = link_to "1B", players_path(type: "hitters", pos: "1B"), class: "btn"
    = link_to "2B", players_path(type: "hitters", pos: "2B"), class: "btn"
    = link_to "3B", players_path(type: "hitters", pos: "3B"), class: "btn"
    = link_to "SS", players_path(type: "hitters", pos: "SS"), class: "btn"
    = link_to "OF", players_path(type: "hitters", pos: "OF"), class: "btn"
    = link_to "DH", players_path(type: "hitters", pos: "DH"), class: "btn"
  - elsif params[:type] == "pitchers"
    = link_to "All", players_path(type: "pitchers"), class: "btn"
    = link_to "SP", players_path(type: "pitchers", pos: "SP"), class: "btn"
    = link_to "RP", players_path(type: "pitchers", pos: "RP"), class: "btn"